.Pokedex-card{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Pokedex-content{
    text-align: center;
}


.Pokedex-winner{
    color: #0ead69;
}

.Pokedex-loser{
    color: crimson;
}