@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.Pokecard{
   width: 300px;
  text-align: center;
   padding: 20px;
   margin: 1rem;
   box-shadow: 7px 10px 12px -5px  rgba(0, 0, 0,0.56);
   border-radius: 5px;
}


.Pokecard-info{
    font-size: 100%;
    font-family: 'Josefin Sans', sans-serif;
    
}

.Pokecard-img{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.Pokecard img{
    transition: all ease 400ms;
}



.Pokecard img:hover{
    transform: scale(1.2);
}

